<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
  </head>
  <body>
    <header>
      {% if site.logo %}
      <div class="logo">
        <img src="{{ site.logo | relative_url }}" alt="{{ site.title }} logo" />
      </div>
      {% endif %}

      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
      <div class="contact-info">
        <p>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p>Phone: {{ site.phone }}</p>
        <p>
          <a href="{{ site.linkedin }}">LinkedIn</a> |
          <a href="{{ site.github }}">GitHub</a>
        </p>
      </div>
    </header>

    <main>{{ content }}</main>

    <!-- <footer>
      <p>
        Hosted on GitHub Pages — Theme by
        <a href="https://github.com/pages-themes/minimal">orderedlist</a>
      </p>
    </footer> -->
  </body>
</html>
